# Arquivos de configuração
/.env
/.env.example
/.env.testing
/.env.local

# Cache do Laravel
/storage/framework/cache/

# Logs
/storage/logs/

# Arquivos temporários do Laravel
/storage/framework/sessions/
/storage/framework/views/

# Dependências do PHP
/vendor/

# Dependências do Node.js
/node_modules/

# Arquivos de backup
*.bak
*.swp
*.log
*.cache

# Outros arquivos específicos
/.DS_Store
/docker-compose.yml.env
/npm-debug.log
/yarn-error.log

# Configurações do IDE (se você usar)
.idea/
*.sublime-project
*.sublime-workspace
nbproject/

# Configurações do Laravel Passport
/storage/oauth-private.key
/storage/oauth-public.key

# Configurações do Laravel Herd
/Herd/